@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary: #1a2236;
  --bg-project: #98dede;
  --footer-cv: #92dcdc;
}

body {
  font-style: normal;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  color: var(--primary);
}

#menu-container {
  display: flex;
  justify-content: end;
}

#menu {
  display: none;
}

.hamburger {
  margin: 1rem 1rem 0 0;
}

.bx,
.bx-menu {
  font-size: 2rem;
  color: var(--primary);
}

#menu-container {
  background: url('assets/mobile/image_geometry_1.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
}

.hero-content img {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.hero-content button {
  margin-top: 2.5rem;
  padding: 0.9rem;
  font-size: 1.3rem;
}

.hero-btn {
  background: var(--primary);
  color: white;
}

.hero-content h1 {
  font-weight: 400;
  font-size: 4rem;
  font-family: 'Playfair Display', sans-serif;
}

.hero-content p {
  font-weight: 400;
  margin-top: 1rem;
}
